
.modal-header { align-items: center; padding: 0.5rem 1rem;}
.modal-content { box-Shadow: 0px 0px 30px #999 };

/* -------------------------------------------------------------- */

.nav, .foot { opacity: 0.95; }
.nav, .nav * { 
  color: whitesmoke !important; 
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.navbar-text { font-size: 2rem; line-height: 2rem; font-variant: small-caps;}
.navbar-caption { text-shadow: -1px -1px 2px #000, 2px 2px 2px black; }

.footer-text { font-size: 1rem; color: rgb(255,255,255,0.5); padding: 0rem; }
.footer-text-si { font-size: 1.1rem; color: rgb(255,255,255,0.75); padding: 0rem; }

/* -------------------------------------------------------------- */

.btn { 
  vertical-align: bottom;
  font-size: 1.5rem;
  font-variant: small-caps;
}

.btn-red:hover {
  color: #fff;
  background-color: #6c131c;
  border-color: #570f16;
}

.btn-red {
  color: #fff;
  background-color: #981b27;
  border-color: #981b27;
}

.btn-green:hover {
  color: #fff;
  background-color: #144C0D;
  border-color: #103D0B;
}

.btn-green {
  color: #fff;
  background-color: #1D6A13;
  border-color: #1D6A13;
}

.btn-blue:hover {
  color: #fff;
  background-color: #0D2B4C;
  border-color: #0B223D;
}

.btn-blue {
  color: #fff;
  background-color: #133D6A;
  border-color: #133D6A;
}

/*
.trunkText {
  width: 100%;                   
  overflow: hidden;              / * "overflow"-Wert darf nicht "visible" sein * / 
  text-overflow: ellipsis;
}
*/

.acb-btn { margin: 0 5px 5px 0px; letter-spacing: 4px;}
.acb-btn:last-child{ margin: 0 0 5px 0; }

.acb-a-svg { cursor: pointer; display: inline-block; }

.acb-img { width: 200px; background-color: rgba( 255,255,255,0.10); }
@media screen and (min-width: 400px) { .acb-img { width: 300px; } }
@media screen and (min-width: 1000px) { .acb-img { width: 400px; } }

/* -------------------------------------------------------------- */

.svg-ico { display: inline-block; }
.svg-nav { margin: 0 5px; }

.svg-mr { margin-right: 10px; }
.svg-ml { margin-left: 10px; }
.svg-crd.svg-mr { margin-right: 5px; }
.svg-crd.svg-ml { margin-left: 5px; }

.svg__icon { width: 15px; }
.svg__icon path { stroke-width: 5px; }
.svg__icon g { fill: rgba(245, 245, 245, 0.25); }
.svg__icon path { stroke: rgba(245, 245, 245, 0.25); }

.svg-crd .svg__icon { width: 22px; }
.svg-btn .svg__icon { width: 20px; }
.svg-nav .svg__icon,
.svg-big .svg__icon { width: 30px; }
.svg-cls { padding: 4px; }
.svg-dot .svg__icon { width: 15px; }
.svg-cls .svg__icon { width: 20px; }

.svg-chk {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

@media screen and (max-width: 500px) {
  .svg-nav .svg__icon { width: 25px; }
  .svg-crd.svg-mr { margin-right: 2px; }
  .svg-crd.svg-ml { margin-left: 2px; }
}
  
.svg-sw10 .svg__icon path { stroke-width: 10px !important; }

.svg-cw90 .svg__icon g { fill: rgba(245, 245, 245, 0.9) }
.svg-cw90 .svg__icon path { stroke: rgba(245, 245, 245, 0.9) }
.svg-cb90 .svg__icon g { fill: rgba(0, 0, 0, 0.9) }
.svg-cb90 .svg__icon path { stroke: rgba(0, 0, 0, 0.9) }

.svg-cw25 .svg__icon g, .svg-cw25-h .svg__icon g { fill: rgba(245, 245, 245, 0.25); }
.svg-cw25 .svg__icon g, .svg-cw25-h .svg__icon path { stroke: rgba(245, 245, 245, 0.25); }
.svg-cw25-h:hover .svg__icon g { fill: rgba(245, 245, 245, 0.75); }
.svg-cw25-h:hover .svg__icon path { stroke: rgba(245, 245, 245, 0.75); }

.svg-cw50 .svg__icon g, .svg-cw50-h .svg__icon g { fill: rgba(245, 245, 245, 0.50) }
.svg-cw50 .svg__icon path, .svg-cw50-h .svg__icon path { stroke: rgba(245, 245, 245, 0.50) }
.svg-cw50-h:hover .svg__icon g { fill: rgba(245, 245, 245, 0.90) }
.svg-cw50-h:hover .svg__icon path { stroke: rgba(245, 245, 245, 0.90) }

.svg-cw75 .svg__icon g, .svg-cw75-h .svg__icon g { fill: rgba(245, 245, 245, 0.75) }
.svg-cw75 .svg__icon path, .svg-cw75-h .svg__icon path { stroke: rgba(245, 245, 245, 0.75) }
.svg-cw75-h:hover .svg__icon g { fill: rgba(245, 245, 245, 0.90) }
.svg-cw75-h:hover .svg__icon path { stroke: rgba(245, 245, 245, 0.90) }

.alert-danger .svg__icon g { fill: #721c24 !important; }
.alert-danger .svg__icon path { stroke: #721c24 !important; }

/* ------------------------------- */

.f-row { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: flex-start; }
.f-row .f-item { margin: 0px 10px; flex-grow: 0; flex-basis: 80%; }

@media screen and (min-width: 1000px) { .f-row .f-item { flex-basis: 40%; } }
@media screen and (min-width: 1400px) { .f-row .f-item { flex-basis: 30%; } }

.f-col { display: flex; flex-direction: column; justify-content: space-evenly; align-items: flex-start; }

.ico-row { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-end; align-items: center; }
.ico-row .f-item { margin: 0px 2px; }

.info-box { margin-top: 10%; }
.txt-box .b-item { margin: 10px 0px; }

.fj-spa { justify-content: space-around; }
.fj-spb { justify-content: space-between; }
.fa-cen { align-items: center; }
.fa-fe { align-items: flex-end; }

.min-h53p { min-height: 53% }

.site-header { align-items: center; margin-bottom: 0.5rem;}
.site-header span { margin-bottom: 0.5rem;}

.info-box h1.title {
  font-size: 2.5rem;
  letter-spacing: 2px;
  width: 100%;
  text-shadow: 4px 4px 4px black;
  font-variant: small-caps;
}

.fc-r { color: rgb(128, 0, 0); }
.fc-g { color: rgb(0, 64, 0); }
.fc-b { color: rgb( 0,0,128); }
.fc-y { color: rgb(128, 128, 0); }
.fc-o { color: rgb(128,64,0); }
.fc-p { color: rgb(128,0,128); }

@media screen and (min-width: 400px) { .info-box h1.title { font-size: 3.5rem; letter-spacing: 3px; } }
@media screen and (min-width: 600px) { .info-box h1.title { font-size: 5rem; letter-spacing: 5px; } }

.txt-box > :first-child::after {
  content: '';
  background-color: #ffffff;
  display: block;
  height: 2px;
  margin: 0.325em 0 0.5em 0;
  width: 100%;
}

.info-box .desc p {
  font-size: 1.0rem;
  font-weight: 600;
  font-variant: small-caps;
  letter-spacing: 0.15em;
  margin-bottom: 0;
  text-indent: -12px;
  margin-left: 25px;
  /* text-transform: uppercase; */
}

@media screen and (min-width: 400px) { .info-box .desc p { font-size: 1.25rem; } }
@media screen and (min-width: 600px) { .info-box .desc p { font-size: 1.5rem; } }

/* ------------------------------- */

.dist-top-bottom { height: 60px; }
.dist-horz { margin: 0 0.5rem; }
.frm-alpha-w10 { padding-top: 12px; background-color: rgba( 255, 255, 255, 0.1 ); margin-bottom: 12px;}


/* -------------------------------------------------------------- */

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.card-img-overlay { padding: 0; }
.card-title, .card-footer {
  padding: 0.25rem;
  background-color: rgba(0,0,0,0.5);
  color: white;
  white-space: nowrap;
  width: 100%;                   
  overflow: hidden;              /* "overflow"-Wert darf nicht "visible" sein */ 
  text-overflow: ellipsis;
}

.card-columns {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 0 !important;
  -moz-column-gap: 0 !important;
  grid-column-gap: 0 !important;
  column-gap: 0 !important;  
}
.card-single {
  /* display: inline-block; */
}

.card-columns .card, .card-single .card {
  display: inline-block;
  width: 19.99999%;
  margin-bottom: 0rem !important;
  background-color: transparent;
}

.card-detail .card { width: 9.99999%; }
.card-single .card { width: 100%; }

.cardImage {
  min-height:200px;
  max-height:200px;
  object-fit: cover;
  background-color: rgba( 0,0,0,0.1);
}

.shw-acb, .dib { display: inline-block; }

@media (max-width: 599px) {
  .card-columns .card { width: 49.99999%; }
  .card-detail .card { width: 24.99999%; }
  .shw-acb { display: none; }
}
@media (min-width: 600px) and (max-width: 799px) {
  .card-columns .card { width: 33.33333%; }
  .card-detail .card { width: 16.66666%; }
}
@media (min-width: 800px) and (max-width: 999px) {
  .card-columns .card { width: 24.99999%; }
  .card-detail .card { width: 12.49999%; }
}
@media (min-width: 1000px) and (max-width:1199px) {
  .card-columns .card { width: 19.99999%; }
  .card-detail .card { width: 9.99999%; }
}
@media (min-width: 1200px) {
  .card-columns .card { width: 16.66666%; }
  .card-detail .card { width: 8.33333%; }
}