
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Segoe UI', 
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #575757;
  color: whitesmoke;
  background-image: url(/background.png);
  background-attachment: fixed;
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.distance { height: 60px; }
.main { margin: 0px 0.25rem; }

.acb-img { width: 200px; }
@media screen and (min-width: 400px) { .acb-img { width: 300px; } }
@media screen and (min-width: 600px) { .acb-img { width: 400px; } }

/* ------------------------------- */

.f-row { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: stretch; }
.f-row .f-item { margin: 0px 10px; }
.f-col { display: flex; flex-direction: column; justify-content: space-evenly; align-items: flex-start; }

.info-box { margin-top: 5%; }
.txt-box .b-item { margin: 10px 0px; }

.info-box h1.title {
  font-size: 2.5rem;
  letter-spacing: 2px;
  width: 100%;
  text-shadow: 4px 4px 4px black;
}
@media screen and (min-width: 400px) { .info-box h1.title { font-size: 3.5rem; letter-spacing: 3px; } }
@media screen and (min-width: 600px) { .info-box h1.title { font-size: 5rem; letter-spacing: 5px; } }

.txt-box > :first-child::after {
  content: '';
  background-color: #ffffff;
  display: block;
  height: 2px;
  margin: 0.325em 0 0.5em 0;
  width: 100%;
}

.info-box .desc p {
  font-size: 1.5rem;
  font-weight: 600;
  font-variant: small-caps;
  letter-spacing: 0.15em;
  margin-bottom: 0;
  /* text-transform: uppercase; */
}
@media screen and (min-width: 400px) { .info-box h1.title { font-size: 3.5rem; letter-spacing: 3px; } }
@media screen and (min-width: 600px) { .info-box h1.title { font-size: 5rem; letter-spacing: 5px; } }

.nextbtn {
  font-size: 2.0rem;
  font-variant: small-caps;
}

/* ------------------------------- */
